<div class="containter">
  <div class="row">
    <div class="col-md-7">
      <input type="text" class="form-control" [(ngModel)]="searchQuery" placeholder="Írd be azt a jogosítvány számot, amit keresni szeretnél!">
  </div>
  <div class="col-md-2">
      <button class="btn btn-primary" (click)="search()">Keresés</button>
  </div>
  </div>
<div class="containter">
    <div class="row">
      <div class="col">
        <table class="table table-striped table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Név</th>
              <th scope="col">Születési idő</th>
              <th scope="col">Lakcím</th>
              <th scope="col">Jogosítvány száma</th>
              <th scope="col">Jogosítvány érvényességi ideje</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let driver of drivers" [class]="{'text-danger' : isOldDrivingLicense(driver)}">
                <td>{{driver.id}}</td>
                <td>{{driver.nev}}</td>
                <td>{{driver.szulido}}</td>
                <td>{{driver.lakcim}}</td>
                <td>{{driver.jogositvany_szama}}</td>
                <td>{{driver.jogositvany_ervenyesseg}}</td>
                <td *ngIf="isAdmin"><button class = "btn btn-primary" (click)="navigateToDriverForm(driver.id)">Szerkesztés</button></td>
            </tr>
          </tbody>
      </table>
      </div>
    </div>
  </div>
  
  
    
  