<div class="row">
    <div class="col-md-6">
        <form [formGroup]="userForm">
            <label for="rendszam">Username</label>
            <input type="text" class="form-control" id="username" formControlName="username">
            <div class="text-danger" *ngIf="f['username'].invalid">
                <small *ngIf="f['username'].errors">A felhasználónév már létezik az adatbázisban.</small>
            </div>
            <label for="tipus">Password</label>
            <input type="text" class="form-control" id="password" formControlName="password">
            <div class="text-danger" *ngIf="f['password'].invalid">
                <small *ngIf="f['tipus'].errors">A jelszó túl rövid.</small>
            </div>
            <label for="uzemanyag">Role</label>
            <div>
            <select  class="form-control" class="custom-select" id="role" formControlName="role">
                <option>Admin</option>
                <option>User</option>
            </select>
            <div class="text-danger" *ngIf="f['role'].invalid">
                <small *ngIf="f['role'].errors">A szerepkör megadása kötelező!</small>
            </div>
            </div>
            <button class="btn btn-primary mt-2" (click)="addUser()" [disabled]="userForm.invalid" >
                Mentés
            </button>
        </form>
    </div>
</div>